body {
    padding-top: 5%;
    background-image: url("../img/voter.png");
    background-repeat: no-repeat;
    background-size: cover;
}





#div-form {
    background: aliceblue;
    padding: 2%;
}

button {
    margin-top: 15px;
}

#login-info {
    font-size: large;
    margin-top: 15px;
}

#login-info a {
    text-decoration: none;
}

#top-text {
    color: whitesmoke;
    text-align: center;
    font-size: xx-large;
}